/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
*/


/* Hack some styles */

#canvas {
  background: url('/assets/tilemap.jpg');
  width: 600px;
  height: 300px;
  border-radius: 4px;
  border: 1px solid black;
}

#commands {
  color: #6C6;
  width: 430px;
}

button#execute {
  float: right;
}

#level-description {

}

#level-hint {
  padding: 5px 16px 18px 24px;
  background: url('/assets/robothint.jpg') no-repeat left top;
}
